<li>
	<a href="https://x.com/{{ site.social.twitter }}" target="_blank">
		<svg
			id="x"
			class="custom-icon"
			version="1.1"
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 100 100"
			style="height: 30px; width: 30px;"
		>
			<circle
				class="outer-shape"
				cx="50"
				cy="50"
				r="48"
				style="opacity: 1;"
			></circle>
			<path
				class="inner-shape"
				style="opacity: 1;"
				transform="translate(25,25) scale(0.5)"
				d="M59.77 18.5h10.24L45.96 46.37 73.25 81.5H51.2L36.53 61.76 19.82 81.5H9.57l25.72-29.42L8.75 18.5h22.62l13.26 17.53L59.77 18.5Zm-3.59 56.63h5.68L31.11 24.3h-6.09l31.16 50.83Z"
			></path>
		</svg>
	</a>
</li>
